<div class="col-lg-4 col-xs-12" style="margin-bottom: 30px;">
    <div class="col-xs-12 contact contactShadow"> 
        <div class="row ">
            <br>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                <img id="img" src="img/alex jonathan.jpg" class="img-responsive img-circle " alt=""/>
                <input id="job" type="text" class="form-control" class="job center" placeholder="please enter job " >
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input id="name" type="text" class="form-control" class="name center" placeholder="please enter name " >
                <div> <i class="fa fa-map-marker fa-2" aria-hidden="true"></i><span >Rivira State 32/106</span></div>
                <div><strong>Twitter,inc.</strong></div>
                <div>795 Folsom Ave, Suite 600 San Fransisco,CA 94107 </div>
                <div>P:(123) 456-7890</div>
            </div>
        </div>
        <br>
        <div class="row pull-right ">
            <p>
                <button type="button" class="btn btn-sm  addBtn buttonColor " name="add" value="add" onclick="addContact();">Add</button>
                <button type="button" class="btn btn-sm editBtn buttonColor " name="edit" value="edit"><span class="fa fa-pencil fa-1x"></span></button>
                <button type="button" class="btn btn-sm deleteBtn buttonColor" name="delete" value="delete"><span class="fa fa-trash fa-1x" ></span></button>
            </p>
        </div>
    </div>
</div>


